div{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.107em;
}
.insta{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.icon{
    size: 3px;
    height: 20px;
    font-size: 40px;
    position: relative;
    top: -10px;
}
.header{
    height: 50px;
    width: 100%;
    margin: 0;
    background-color: white;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: none;
    text-decoration: none;

}
.headerdiv2{
    height:50px;
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.headerdiv2>p{
    margin: 0;
    display: inline-block;
    letter-spacing: 0.107em;
    text-decoration: none;
}
.insta>:hover{
    height: 50px;
    width: 100%;
    margin: 0;
    background-color: #cfcfcf;
    transition: .5s;
}
.nav{
    height: 88px;
    width: 100%;
    margin: 0;
    background-color: #161616;
    color: #f7f7f7;
    position: relative;
    padding: 35px;
}
.nav2{
    /*position: absolute;*/
    left: 50%;
    top: 50%;
    /*transform: translateY(-50%) translateX(-50%);*/
    width: 100%;
    margin: auto;
    text-align: center;
} 


.nav2>p{
    display:inline-block;
    padding-left: 65px;
    margin: 0;
}
.one{
    margin: 0;
    width: 100%;
    height: 475px;
    background-color: black;
    color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;

}
.infocovidbook{
    margin: 0;
    width: 50%;
    height: 475px;
    float: right;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
.info, .break, .covid, .book{
    display: block;
    text-align: center;
    letter-spacing: 0.107em;
} 
.info>h1{
    margin: 0;
    letter-spacing: 0.107em;
    font-weight: normal;
    font-stretch: extra-expanded;
}
.break{
    width: 100%;
}
.line{
    border: 1px #f7f7f7 solid;
    width: 60%;
    line-height: 1.5;
    display: block;
}
.book{
  border: #f7f7f7 1px solid;
  text-decoration: none;
  color:#f7f7f7;
  background-color: black;
  border-radius: 25px;
  padding: 15px;
  margin: 0;
}

  .booknow>:hover{
    background-color: #f7f7f7;
    color: black;
    padding: 15px;
    transition: 1s;
    margin: 0;
    border: solid black 1px;
    border-radius: 25px;
}
.pic1{
    margin: 0;
    width: 50%;
    height: 475px;
    float: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.model1{
    margin: 0;
    width: 85%;
    height: 85%;
    border: 8px #f7f7f7 solid;
}
.secheaders{
    margin: 0;
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0;
}
.linebreaks{
    border: black 1px solid;
    width: 400px;
    margin-left: 25px;
    margin-right: 25px;
}
.collage{
    height: 1200px;
    width: 80%;
    margin: 0 auto;
}
.leftcollage{
    height: 100%;
    width: 35%;
    margin: 0;
    float: left;
}
.toppic{
    height: 100%;
    width: 100%;
    margin: 0;
}
.bottompic{
    height: 100%;
    width: 100%;
    margin: 0;
}
.middleblank{
    height: 100%;
    width: 30%;
    margin: 0;
    float: left;
  
}
.rightcollage{
    height: 100%;
    width: 35%;
    margin: 0;
    float: left;
}
.collagedivs{
    padding: 3px;
    padding
    height: 400px;
    width: 100%;
}
.collagedivsb{
    padding: 3px;
    height: 400px;
    width: 100%;
}
.services{
    width: 80%;
    height: 700px;
    margin: 0 auto;
}
.upperleft,.upperright{
    display: inline-block;
}
.upperleft{
    height: 300px;
    width: 35%;
    text-align: center;
}
.bold{
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 0;
}
.upperright{
    height: 300px;
    width: 35%;
    text-align: center;
    float: right;
}
.vids{
    margin: 3px;
    margin-bottom: 0;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover{
    background-color: #45a049;
  }
  .contactform{
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 0;
  }
  .lowerleft{
    height: 300px;
    width: 35%;
    text-align: center;
    display: inline-block;
  }
  .lowerright{
    height: 300px;
    display: inline-block;
    width: 35%;
    text-align: center;
    float: right;
  }